<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>add_season</servlet-name>
    <servlet-class>com.google.simple.teampicker.SeasonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_season</servlet-name>
    <url-pattern>/add_season</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>add_team</servlet-name>
    <servlet-class>com.google.simple.teampicker.TeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_team</servlet-name>
    <url-pattern>/add_team</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>add_game</servlet-name>
    <servlet-class>com.google.simple.teampicker.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_game</servlet-name>
    <url-pattern>/add_game</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>teampicker.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.google.simple.teampicker.OfyHelper</listener-class>
  </listener>

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/add_season</url-pattern>
      <url-pattern>/add_team</url-pattern>
      <url-pattern>/add_game</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
